.header {
    width: 90%;
    display: grid;
place-items: center;
    grid-template-columns: 1fr 1fr;

    background-color: #ffffff;
    color: #2A3A9D;
    padding: 10px;

    .logo {
        width: fit-content;
        font-size: 2rem;
        font-weight: bold;
    


    }

    .ul {
        display: flex;
        flex-direction: row;





        li {
            display: flex;
            cursor: pointer;
            margin: 0 10px;
            white-space: nowrap;

            a {
                font-variant: all-small-caps;
                font-size: 20px;
                font-weight: 600;
                text-decoration: none;
                color: #2A3A9D;
                transition: color 500ms ease;
            }

            a:hover {
                color: #0A84FF;
            }
        }

        .cart {
            width: 30px;
            height: 30px;
            color: #fff;
        }

        .cart:hover,
        .cart.active {
            color: #e99739;
        }
    }


}